<div class='contents-post'>
    <img class='contents-post__img' src={{urlImage}} alt='AnimeGo'>
    <div class='contents-post-description'>
        <a class='contents-post-description__a' href={{urlAnime}}{{id}}>{{nameAnime}}</a>
        <span class='contents-post-description__span'>{{categoryAnime}} / {{ageAnime}}</span>
        <p class='contents-post-description__p'>{{descriptionAnime}}</p>
    </div>
</div>