<div class='content-post'>
    <div class='content-post-heading'>
        <div class='content-post-column-left'>
            <img class='content-post-column-left__img' src={{urlImage}} alt='AnimeGo'>
            <div class='column-left-container'>
                <div class='column-left-container-watch'>
                    <a class='column-left-container-watch__a' href={{urlWatch}} target='_blank'>Смотреть онлайн</a>
                </div>  
            </div>
        </div>
        <div class='content-post-column-right'>
             <div class='content-post-column-right-name'>
                <h3 class='column-right-name__h3'>{{nameAnime}}</h3>
            </div>
            <div class='column-right-container'>
                <div class='column-right-container-title'>
                    <span>Тип</span>
                    <span>Эпизоды</span>
                    <span>Статус</span>
                    <span>Жанр</span>
                    <span>Первоисточник</span>
                </div>
                <div class='column-right-container-description'>
                    <span>{{categoryAnime}}</span>
                    <span>{{episode}}</span>
                    <span>{{status}}</span>
                    <span>{{categories}}</span>
                    <span>{{originalSource}}</span>
                </div>
            </div>
        </div>
    </div>
    

    <div class='content-post-description'>
        <p class='content-post-description__p'>{{fullDescription}}</p>
    </div>
</div>