<header class='page-header' >
    <div class='header'>
        <a href={{URL_MAIN}}>
            <img class='header-image' src={{URL_LOGO}} alt='Логотип Анимего'>
        </a>
        <div class='header-contents'>
            <a class='header-contents-links' href={{URL_ANIME}} target='_blank'>Аниме</a>
        </div>
        <div class='header-contents'>
            <a class='header-contents-links' href={{URL_MANGA}} target='_blank'>Манга</a>
        </div>
        <div class='header-contents'>
            <a class='header-contents-links' href={{URL_PERSONS}} target='_blank'>Персонажи</a>
        </div>
        <div class='header-contents'>
            <a class='header-contents-links' href={{URL_LOGIN}} target='_blank'>Войти</a>
        </div>
    </div>
</header>